{% extends 'base.html.twig' %}
{% block title %}{{genre.name}}{% endblock %} 
{% block body %}
<a
  class="text-teal-500 underline font-semibold p-6 mt-6"
  href="{{ path('all-genres') }}"
  >< Retourner à liste</a
>
<h1 class="text-2xl text-teal-900 font-bold text-center p-6">{{genre.name}}</h1>
<div class="px-6 flex gap-16">
  <div class="w-1/2">
    <h2 class="text-xl text-teal-800 font-bold text-center">Tous les albums</h2>
    <ul class="mt-5">
      {% for album in genre.albums %}
      <li class="flex gap-4 items-center py-1">
        <span>
        <a
          href="{{ path('album-show', {'id': album.id}) }}"
          class="font-bold text-teal-700 underline"
          >{{album.title}}</a
        >
        · {{album.songs|length}} chansons
        </span>
        <span class="text-sm text-teal-500">
          {{album.getTotalDuration()}}
        </span>
      </li>
      {% else %}
      <span>Aucun album</span>
      {% endfor %}
    </ul>
  </div>
  <div class="w-1/2">
    <h2 class="text-xl text-teal-800 font-bold text-center">Toutes les chansons</h2>
    <ul class="mt-5">
      {% for album in genre.albums %}
        {% for song in album.songs %}
        <li class="flex gap-4 items-center py-1">
          <span>
            <a
              href="{{ path('song-show', {'id': song.id}) }}"
              class="font-bold text-teal-700 underline"
            >
              {{song.title}}
            </a>
            · {{song.getDurationInMinutes()}}
          </span>
          <span class="text-sm text-teal-500">
            {{song.comments|length}} commentaires 
            {% if song.getAverage() %}
              · {{song.getAverage()}}/5
            {% endif %}
          </span>
        </li>
        {% endfor %}
        {% else %}
        <span>Aucune chanson</span>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
